{% extends 'base.html' %}
{% block title %} Edit Contact {% endblock %}
{% load static %}
{% block img %}url(&quot;{% static 'contacts.png'%}&quot;){% endblock %}
{% block submenu %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center">
					<a class="btn btn-secondary display-4" href="{% url 'contacts:contacts'%}">Contacts</a>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong> Edit Contact</strong></h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    {% csrf_token %}
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <input hidden="hidden" type="text" name="id" data-form-field="id" class="form-control" value="{{contact.id}}" id="id-form02-12">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Contact name" data-form-field="name" class="form-control" value="{{contact.name}}" id="name-form02-12">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="address">
                            <input type="text" name="address" placeholder="address" data-form-field="address" class="form-control" value="{{contact.address}}" id="address-form02-12">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="phone">
                            <input type="text" name="phone" placeholder="phone" data-form-field="phone" class="form-control" value="{{contact.phone}}" id="phone-form02-12">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="{{contact.email}}" id="email-form02-12">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="date">
                            <input type="date" name="date" placeholder="Birthday" data-form-field="date" class="form-control" value="{{contact.date}}" id="date-form02-12">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="ed_info">
                            <input type="text" name="ed_info" placeholder="Additional Info" data-form-field="ed_info" class="form-control" value="{{contact.ed_info}}" id="ed_info-form02-12">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-info display-7">Update Contact</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}