{% extends 'base.html' %}
{% load static %}
{% block title %}File Share{% endblock %}
{% block img %}url(&quot;{% static 'fileshare.png'%}&quot;){% endblock %}
{% block submenu %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center">
                    <form action="/action_page.php">
                        <input type="file" id="myFile" name="filename">
                        <input type="submit">
                        <button type="submit" class="btn btn-info display-7">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center">
                    TODO search file name and filter file type
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<h2>My Files</h2>
<ul>
    {% for file in files %}
        <li>{{ file.file.name }} ({{ file.category }}) - <a href="{{ file.file.url }}">Download</a></li>
    {% endfor %}
</ul>
{% endblock %}
