{% extends 'base.html' %}
{% block title %} Note Detail {% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-5 justify-content-center">
        <div class="col-12 mb-0 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Note Details</strong>
            </h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text mbr-fonts-style display-7">
                        {{ note.body }}
                    </p>
                    <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-info btn-rounded display-7">Edit</a>
                    <a href="{% url 'notes:delete_note' note.id %}" class="btn btn-danger btn-rounded display-7">Delete</a>
                    <a href="{% url 'notes:notes' %}" class="btn btn-secondary btn-rounded display-7">Back to Notes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
