{% extends 'base.html' %}
{% block title %} User Autorization {% endblock %}
{% load static %}
{% block img %}url(&quot;{% static 'notes.png'%}&quot;){% endblock %}
{% block submenu %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center">
					<a class="btn btn-secondary display-4" href="{% url 'notes:create_note'%}">Create new Note</a>
					<a class="btn btn-secondary display-4" href="{% url 'notes:create_tag'%}">Create new Tag</a>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Notes</strong></h3>

			</div>
		</div>

		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 994.344px;">
			{% for note in notes %}
            <div class="item features-without-image col-12 col-md-6 col-lg-6 active" style="position: absolute; left: 0%; top: 0px;">
                <div class="item-wrapper">
					<div class="card-box align-left">

						<div class="icons-menu row justify-content-right display-7">
							<div class="soc-item col-auto">
								<a href="{% url 'notes:edit/{{note.id}}'%}" target="_blank" class="social__link">
									<span class="mbr-iconfont mbri-edit"></span>
								</a>
							</div><div class="soc-item col-auto">
								<a href="{% url 'notes:done/{{note.id}}'%}" target="_blank" class="social__link">
									<span class="mbr-iconfont mobi-mbri-success mobi-mbri"></span>
								</a>
							</div><div class="soc-item col-auto">
								<a href="{% url 'notes:delete/{{note.id}}'%}" target="_blank" class="social__link">
									<span class="mbr-iconfont mbri-trash"></span>
								</a>
							</div>
						</div>
                        <h5 class="card-title mbr-fonts-style display-7">
							<strong>{{note.name}}</strong>
						</h5>
						<p class="card-text mbr-fonts-style display-7">
							{{note.text}}
						</p>
						<div class="icons-menu row justify-content-right display-7">
							<p class="card-text mbr-fonts-style display-7">
								Tags:
							</p>
							{% for tag in note.tags.all %}
								<a href="#" class="text-primary">{{tag.name}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
</div>
{% endblock %}