{% extends 'base.html' %}
{% load static %}
{% block title %} Site Authors {% endblock %}
{% block img %}url(&quot;{% static 'our_team.jpg'%}&quot;){% endblock %}
{% block submenu %}{% endblock %}
{% block content %}
<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
						<strong>Our Team</strong>
					</h4>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://media.licdn.com/dms/image/v2/D4E03AQG0ecv-WHhJ3A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1724222873392?e=1730332800&v=beta&t=eghHFFmkJTylnAPAuoiuiuf9qw0KnyVcFMdflAZ1npA" alt="" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Oleskandr Tsepliaiev</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Team Lead</h6>

					</div>

				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://media.licdn.com/dms/image/v2/D4D03AQE1BagrjMkeng/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1723053424469?e=1730937600&v=beta&t=qPuqjbSjMj2pdBNIrOHnG4ZOl8YHi8SlkLmq0PSI6lU" alt="" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Mia K</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Scrum Master</h6>

					</div>

				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="{% static 'graphics/TeamLogo.png'%}" alt="" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Ri Ti</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Developer</h6>

					</div>

				</div>
			</div>
            <div class="item features-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="{% static 'graphics/TeamLogo.png'%}" alt="" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Andrii Sydor</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Developer</h6>

					</div>

				</div>
			</div>
            <div class="item features-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://media.licdn.com/dms/image/v2/D4D35AQGL7VOohF25Vw/profile-framedphoto-shrink_800_800/profile-framedphoto-shrink_800_800/0/1725184973630?e=1725800400&v=beta&t=Fpnj8eJ0WWKaEoSsECQ84k4PAEgDaRKXyxRZlPfVn1g" alt="" title="">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style display-5"><strong>Oleksii Mois</strong></h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Developer</h6>

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
