{% extends 'base.html' %}
{% block title %} Create Tag {% endblock %}
{% load static %}
{% block img %}url(&quot;{% static 'notes.jpg'%}&quot;){% endblock %}
{% block submenu %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="mbr-section-btn align-center">
					<a class="btn btn-secondary display-4" href="{% url 'notes:notes'%}">Notes</a>
					<a class="btn btn-secondary display-4" href="{% url 'notes:create_tag'%}">Create new Tag</a>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Create New Tag</strong></h3>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <div class="align-left mbr-section-btn">
                        <button type="submit" class="btn btn-info display-8">Create Tag</button>
                        <a href="{% url 'notes:notes' %}" class="btn btn-secondary btn-rounded display-8">Back to Notes</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}