{% extends 'base.html' %}
{% block title %} User Autorization {% endblock %}
{% load static %}
{% block img %}url(&quot;{% static 'authorization.png'%}&quot;){% endblock %}
{% block submenu %}
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-secondary display-4" href="{%url 'users:login'%}">Login</a>
                    <a class="btn btn-secondary display-4" href="{%url 'users:register'%}">Sign Up</a>
                    <a class="btn btn-secondary display-4" href="{% url 'users:password_reset' %}">Reset Password</a></div>
            </div>
        </div>
{% endblock %}
{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Reset Password</strong></h3>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    {% csrf_token %}
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">

                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form02-f">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-info display-7">Reset Password</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}